[submodule "stdlib/text/vendor/pretext"]
	path = stdlib/text/vendor/pretext
	url = https://github.com/chenglou/pretext
[submodule "stdlib/md/vendor/snarkdown"]
	path = stdlib/md/vendor/snarkdown
	url = https://github.com/developit/snarkdown
[submodule "stdlib/3d/vendor/three"]
	path = stdlib/3d/vendor/three
	url = https://github.com/mrdoob/three.js
